<a href="https://colab.research.google.com/github/XaviPrograms/Big_Data_ML_AI/blob/main/First_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Las aplicaciones de Spark en Python se pueden ejecutar con el bin/spark-submitscript que incluye Spark en tiempo de ejecución, o incluyéndolo en su setup.py como:
install_requires=[ 'pyspark=={site.SPARK_VERSION}' ]
# Para la ejecución en el espacio colaborativo, se instala la API de Spark para Python (pyspark):
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [4]:
# spark is from the previous example.
from pyspark import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)
# El cuarteto de Anscombe comprende cuatro conjuntos de datos que tienen estadísticasdescriptivas simples casi idénticas, pero, tienen
# distribuciones muy diferentes y parecen muy diferentes cuando se grafican.
# Cada conjunto de datos consta de once ( x , y ) puntos.
# Fueron construidos en 1973 por el estadístico Francis Anscombe para demostrar tanto laimportancia de graficar los datos al analizarlos
# como el efecto de los valores atípicos y otras observaciones influyentes.en propiedades estadísticas

# A JSON dataset is pointed to by path.
# The path can be either a single text file or a directory storing text files
path = "/content/sample_data/anscombe.json"
AnscombeDF = spark.read.json(path)

# The inferred schema can be visualized using the printSchema() method
AnscombeDF.printSchema()

root
 |-- Series: string (nullable = true)
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- _corrupt_record: string (nullable = true)

In [5]:
# Creates a temporary view using the DataFrame
AnscombeDF.createOrReplaceTempView("anscombe")
# SQL statements can be run by using the sql methods provided by spark
MatrizDF = spark.sql("SELECT Series,X,Y FROM anscombe WHERE Series in ('I','II','III','IV') ")
MatrizDF.show()
#+------+----+-----+
#|Series| X| Y|
#+------+----+-----+
#| I|10.0| 8.04|
#| I| 8.0| 6.95|
#| I|13.0| 7.58|
#......
# Alternatively, a DataFrame can be created for a JSON dataset represented by
# an RDD[String] storing one JSON object per string
jsonStrings = ['{"Series":"V", "X":8.0, "Y":6.58}']
otherSeriesRDD = sc.parallelize(jsonStrings)
otherSeriesRDD = spark.read.json(otherSeriesRDD)
otherSeriesRDD.show()
# --------+----+----+
# |Series |X |Y |
# +-------+----+----+
# | V| 8.0|6.58|
# +-------+----+----+

+------+----+-----+
|Series|   X|    Y|
+------+----+-----+
|     I|10.0| 8.04|
|     I| 8.0| 6.95|
|     I|13.0| 7.58|
|     I| 9.0| 8.81|
|     I|11.0| 8.33|
|     I|14.0| 9.96|
|     I| 6.0| 7.24|
|     I| 4.0| 4.26|
|     I|12.0|10.84|
|     I| 7.0| 4.81|
|     I| 5.0| 5.68|
|    II|10.0| 9.14|
|    II| 8.0| 8.14|
|    II|13.0| 8.74|
|    II| 9.0| 8.77|
|    II|11.0| 9.26|
|    II|14.0|  8.1|
|    II| 6.0| 6.13|
|    II| 4.0|  3.1|
|    II|12.0| 9.13|
+------+----+-----+
only showing top 20 rows

+------+---+----+
|Series|  X|   Y|
+------+---+----+
|     V|8.0|6.58|
+------+---+----+